<div class="row">
    <div class="col">
        <h4 class=""> تغيير صلاحيه المستخدم </h4>
        <div class="bg-light p-3 br-10">
            <p>
                تعيين المستخدم 
                <span class="fw-bold text-muted"> <%= @user.name %> </span>
                ك:
            </p>
            <%= form_for :change_role, url: user_change_role_save_path, method: :put, local: true do |f| %>
                <div class="form-group">
                    <%= f.select :role, @roles, { selected: @user.roles.first.code }, { class: 'form-select fw-bold' } %>
                </div>

                <%= f.submit 'حفظ', class: 'btn btn-prime mt-2 fw-bold' %>
            <% end %>
        </div>
    </div>
</div>