<div class="row">
    <div class="col-md-10">
        <h5 class="fw-bold"> جميع جهات الاتصال </h5>
        <% if @contacts.any? %>

            <table class="table table-bordered table-sm table-hover">
                <thead class="bg-prime text-white">
                    <th> الاسم </th>
                    <th> الايميل </th>
                </thead>

                <tbody>
                    <% @contacts.each do |contact| %>
                        <tr>
                            <td> <b> <%= contact.name %> </b> </td>
                        
                            <td> <b> <%= contact.email %> </b> </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>

        <% else %>

            <p class="fw-bold text-muted">
                لا يوجد جهات اتصال بعد .. يمكنك البدأ 
                <%= link_to 'باضافه جهه', new_contact_path %>
            </p>

        <% end %>
    </div>

    <div class="col">
        <div class="d-grid gap-2">
            <%= link_to 'انشاء جهه اتصال', new_contact_path, class: 'btn btn-outline-primary fw-bold' %>
            <button class="btn btn-outline-primary fw-bold" type="button"> ارسال ايميل </button>
        </div>
    </div>
</div>